fastai==1.0.60
tensorboardX>=1.6
ffmpeg-python
yt-dlp
opencv-python>=4.2.0.32
Pillow
tornado
imgaug==0.2.6
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
